#boxquem_chega_primeiro {
    display: flexbox; /*flexbox*/
    border: solid rgb(143,3,3);
    margin-bottom: 3%;
}

#titulo {
    top: 2%;
    width: 100%;
    height: auto;
    text-align: center;
    font-size: 350%;
    font-family: 'Mate SC';
    color: rgb(143, 3, 3);
}

#boxIntroducaoQuedaLivre {
    background-color: rgb(200, 150, 150);
    display: flex;
    width: 100%;
    height: auto;
}

#imgGalileu {
    width: 10%;
    height: auto;
    object-fit: contain;
}

#textoIntroducaoQueda {
    color: #030000;
    width: 85%;
    height: auto;
    left: 20%;
    font-size: 180%;
    margin-top: 1%;
    margin-right: 3%;
    margin-left: 2%;
    text-align: justify;
    font-family: 'Mate SC';
    letter-spacing: 1.5;
}

#box2 {
    display: grid;
    grid-template-columns: 4fr 1fr;
    width: 100%;
    height: auto;    
}

#imgtorre {
    width: 100%;
    height: auto;
    object-fit: contain;
}

#texto2 {
    color: #030000;
    width: 95%;
    height: auto;
    margin-left: 2%;    
    font-size: 180%;
    text-align: justify;
    font-family: 'Mate SC';
    letter-spacing: 1.5;
    padding: 1%;
}

#box3 {
    background-color: rgb(200, 150, 150);
    display: grid;
    grid-template-columns: 1fr 4fr;
    width: 100%;
    height: auto;
}

#imgNewton2 {
    width: 90%;
    height: auto;
    object-fit: cover;
}

#texto3 {
    width: 95%;
    margin-right: 3%;
    font-size: 180%;
    text-align: justify;
    font-family: 'Mate SC';
    letter-spacing: 1.5;
    padding: 3% 0% 0% 0%;
}

#box4 {
    display: grid;
    grid-template-columns: 30% 40% 30%;
    width: 100%;
    height: auto;
}

#textoNovo {
    object-fit: cover;
    height: auto;
    font-size: 150%;
    text-align: center;
    align-items: center;
    font-family: "Mate SC";
    font-size: 200%;
    padding: 2%;
}

#bola {
    width: 85%;
    height: auto;
    margin-right: 50%;
}

#pena {
    width: 90%;
    height: auto;
    margin-left: 10%;
}

#boxConclusao {
    background-color: rgb(200, 150, 150);
    width: 100%;
    height: auto;
    text-align: center;
}

#textoConclusao {
    font-family: "Mate SC";
    font-size: 150%;
    padding: 2%;
}

#boxVideo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 2%;
}

#video {
    border: solid rgb(143, 3, 3);
}
