#pagina_inicial {
    border: solid #ccff00;
    /* display: block;  block */
    position: relative;
    width: 100%;
    height: 1200px;   
    margin-bottom: 2%;  
}

#fundoInicial {
    filter: grayscale(50%); /* Reduz a saturação da imagem. */
    opacity: 80%;
    background-size: conver;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
}

#tituloinicial {
    position: absolute;
    /* border: solid; */
    width: 100%;
    top: 3%;
    z-index: 1;
    text-align: center;
    font-family: "Mate SC";
    font-size: 350%;
    font-weight: calc(50%);
    color: rgb(143, 3, 3);
}

#boxintroducao {
    position: absolute;
    display: inline-block;
    z-index: 1;
    border: 10px solid transparent;
    border-image: linear-gradient(45deg, #ffcc00, #ff00cc, #00ccff, #ccff00);
    border-image-slice: 1;
    width: 85%;
    height: 19%;
    margin-top: 8%;
    margin-left: 8%;
    margin-right: 8%;
    background-color: rgb(31, 0, 31);
    opacity: calc(85%);
}


@keyframes piscar {
    0%, 100% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
}

#introducao {
    position: absolute;
    z-index: 1;
    color: azure;
    font-size: 200%;
    text-align: justify; 
    padding: 1%;
}

.pergunta {
    position: absolute;
    width: 90%;
    height: auto;
    padding: 1%;
    margin-left: 5%;
    font-family: "Mate SC";
    font-size: 350%;
    font-weight: bolder;
    font-style: italic;
    text-shadow: 15px 10px 2px rgba(0, 0, 0, 0.986); /* Define a sombra do texto */
    z-index: 1;
}

.perguntameio {
    position: absolute;
    margin-top: 15%;
    width: 90%;
    height: auto;
    padding: 1%;
    font-family: "Mate SC";
    font-size: 350%;
    font-weight: bolder;
    font-style: italic;
    color: rgb(3, 0, 0);
    z-index: 1;
}


  