#pagina_inicial {
    border: solid #ccff00;
    background-image: url(../img/fundoprincipal.png);
    background-repeat: no-repeat; 
    background-size: cover;
    /* display: block;  block */
    position: relative;
    width: 100%;
    height: auto;   
    margin-bottom: 2%;  
}

#fundoInicial {
    filter: grayscale(50%); /* Reduz a saturação da imagem. */
    opacity: 80%;
    background-size: conver;
    width: 100%;
    height: auto;
    padding-bottom: 10%;  
}

#tituloinicial {
    width: 100%;
    margin-top: 2%;
    text-align: center;
    font-family: "Mate SC";
    font-size: 350%;
    font-weight: calc(50%);
    color: #ccff00;
}

#boxintroducao {
    border: 10px solid transparent;
    border-image: linear-gradient(45deg, #ffcc00, #ff00cc, #00ccff, #ccff00);
    border-image-slice: 1;
    width: 85%;
    height: 19%;
    margin: 3% 8% 0% 8%;
    background-color: rgb(31, 0, 31);
    opacity: calc(85%);
    font-size: 250%;
    text-align: justify;
    padding: 1%;
    color: aliceblue;
}


@keyframes piscar {
    0%, 100% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
}