body {
    background-color: none;
    min-width: 1700px;
    height: auto; 
    margin: 0;
    padding: 0; 
}

/* Cria um pseudo-elemento que será inserido após o conteúdo do elemento main. */
main::after {
    content: ""; /* Esvazia o conteúdo da TAG main. */
    position: flex; /* Define a posição do pseudo-elemento como fixa. Isso siginifica que o elemento será posicionado em relação à janela do navegador, e não ao elemento pai. */
    height: auto; /* Define a altura mínima do pseudo-elemento como 100% da altura da janela visível (vh significa "viewport height"). Isso fará com que o pseudo-elemento tenha pelo menos a altura da tela do dispositivo. */
    width: 100%; 
    top: 0;
    left: 0;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* Cria quatro colunas iguais */
    border: solid rgb(143,3,3);
    background-color: rgb(21, 1, 26);
    color: #fffffe;
    min-height: 6vh;
    width: 100%;
    z-index: 1;
    padding: 1%;
}

.coluna {
    text-align: center;
}

.cliqueaqui {
    cursor: pointer;
}